{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container has-text-centered mt-4">
  <div class="column is-half is-offset-one-quarter mr-2">
    <div class="box">
      <h2 class="title has-text-black">{% trans "Sign In" %}</h2>
      <figure class="avatar">
        <img src="https://user-images.githubusercontent.com/5709133/50445980-88299a80-0912-11e9-962a-6fd92fd18027.png">
      </figure>
      <div class="block">
        <p>{% blocktrans %}Welcome to <strong>You Dev Blog</strong>. To leave a comment or like a post, please log in.
          If you have not
          created an account yet, then please
          <a class="has-text-link is-underline" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      </div>
      <div class="field">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="button is-warning is-large is-fullwidth" type="submit">{% trans "Sign In" %}</button>
          </form>    
          <!-- <p class="control has-icons-left has-icons-right">
            <input class="input is-medium" type="text" placeholder="Username" required>
            <span class="icon is-small is-left has-text-info-light">
              <i class="fas fa-solid fa-user"></i>
            </span>
          </p> -->
      </div>
        <!-- <div class="field">
          <p class="control has-icons-left">
            <input class="input is-medium" type="password" placeholder="Password" required>
            <span class="icon is-small is-left has-text-info-light">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <label class="checkbox">
            <input type="checkbox">
            Remember me
          </label>
        </div> -->
    </div>
    <p class="mb-6">
      <a class="is-underline" href="{{ signup_url }}">Sign Up</a> &nbsp;·&nbsp;
      <a class="is-underline" href="{% url 'account_reset_password' %}">Forgot Password</a>
    </p>
  </div>
</div>

{% endblock %}
