{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <div class="box">
          <h1 class="title has-text-black">{% trans "Sign In" %}</h1>
          <figure class="avatar">
            <img src="https://user-images.githubusercontent.com/5709133/50445980-88299a80-0912-11e9-962a-6fd92fd18027.png">
          </figure>
          <div class="block">
            <p>{% blocktrans %}If you have not created an account yet, then please
              <a class="has-text-link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>      
          </div>
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="field">
              <div class="control">
                <input class="input is-large" type="text" placeholder="e.g. alex.smith" autofocus="">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="input is-large" type="password" placeholder="********">
              </div>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            <div class="field">
              <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div>
            {% endif %}
            <div class="block">
              <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>    
            <button class="primaryAction button is-warning is-block is-large is-fullwidth" type="submit">{% trans "Sign In" %}<i class="fa fa-sign-in"
                aria-hidden="true"></i></button>
          </form>
        </div>
        <p class="has-text-white">
          <a href="{{ signup_url }}">Sign Up</a> &nbsp;·&nbsp;
          <a href="{% url 'account_reset_password' %}">Forgot Password</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- <form class="login">
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form> -->

{% endblock %}
