@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Fira+Sans:wght@400;500&display=swap');

html,
body {
    font-family: "Fira Code", sans-serif;
    font-size: 16px;
    background: #F0F2F4;
}

.navbar::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #FED346;
    position: absolute;
    bottom: 0;
}

.navbar.is-white {
    background: #F0F2F4;
}

.navbar-brand .brand-text {
    font-size: 1.11rem;
    font-weight: bold;
}

.navbar-start a {
    display: inline-block;
    padding: 16px 0;
    position: relative;
}

.navbar-start a.navbar-item::after  {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #ffffff;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.navbar-start a.navbar-item:hover::after {
    width: 100%;
}

a.navbar-item:hover {
    background-color: transparent !important;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-item img {
    margin-top: 5px;
}

.hero-body {
    background-image: url("/static/img/hero-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.hero-body-2 {
    background-image: url("https://a-static.besthdwallpaper.com/funny-python-coding-wallpaper-3840x2160-84082_54.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.articles {
    margin: 5rem 0;
    margin-top: -200px;
}

.articles .content p {
    line-height: 1.9;
    margin: 15px 0;
}

.author-image {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -30px;
    border: 3px solid #ccc;
    border-radius: 50%;
}

.card-content hr:last-child {
    display: none;
}

.media-center {
    display: block;
    margin-bottom: 1rem;
}

.media-content {
    margin-top: 3rem;
}

.article,
.promo-block {
    margin-top: 6rem;
}

div.column.is-8:first-child {
    padding-top: 0;
    margin-top: 0;
}

.article-title {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 2;
}

.article-subtitle {
    color: #909AA0;
    margin-bottom: 3rem;
}

.article-body {
    line-height: 1.4;
    margin: 0 6rem;
}

.media-content {
    margin-top: 0;
    margin-bottom: 40px;
}

.txt-right {
    text-align: right;
}

.promo-block .container {
    margin: 1rem 5rem;
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}

.pagination-link {
    background-color: #fff1c2;
}

.pagination-link.is-current {
    background-color: #3e8ed0;
    border: none;
}

.footer {
    background-color: #3e8ed0;
    padding: 2rem 1.5rem 2rem;
}

.footer a {
    color: #FED346;
    cursor: pointer;
    text-decoration: underline;
}

.footer a:hover {
    color: #ffecaf;
}