{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.svg' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>

  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar is-info">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
          <h1><img src="{% static 'img/logo.svg' %}" alt="Logo"></h1>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
          <a href="{% url 'home' %}" class="navbar-item">Home</a>
          <a href="https://docs.python.org/3/" aria-label="See Python Documentation (opens in a new tab)"
            target="_blank" rel="noopener" class="navbar-item" title="Python Documentation">Documentation</a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if user.is_authenticated %}
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Hi, {{ user.username.upper }}</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item is-disabled has-text-grey-light" title="Feature will be implemented">View account</a>
                  <hr class="navbar-divider">
                  <a href="#" class="navbar-item js-modal-trigger" data-target="modal" title="Logout">Logout</a>
                </div>
              </div>
              {% else %}
              <a href="{% url 'account_login' %}" class="button is-light" title="Login">Login</a>
              <a href="{% url 'account_signup' %}" class="button is-warning" title="Sign up">
                <strong>Sign up</strong>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <!-- MODAL -->
  <div id="modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <section class="modal-card-body has-text-white has-background-grey-dark has-text-centered has-text-weight-medium">
        <div class="block">
          <p class="is-size-1">Are you sure you want to log out?</p>
        </div>
      </section>
      <footer class="modal-card-foot is-flex is-justify-content-center">
        <form class="login" method="POST" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="button is-danger is-large is-uppercase" type="submit">Logout</button>
        </form>
      </footer>
    </div>
  </div>  
  <!-- END MODAL -->

  {% block content %}

  {% endblock %}

  <footer class="footer">
    <div class="content has-text-centered has-text-white">
      <span>Made with <i class="fas fa-heart has-text-danger"></i> by <a href="https://github.com/emidiovaleretto"
          aria-label="Visit my portfolio on GitHub (opens in a new tab)" target="_blank" rel="noopener">Emidio
          Valereto</a> <i class="far fa-hand-spock"></i></span>
      <p class="mt-3">You Dev Blog <span class="current_year"></span> &copy; Advendures of a Software Developer</p>
    </div>
  </footer>

  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>