{% extends 'base.html' %}
{% load static %}
{% block title %}You Dev Blog | A daily dose of technology{% endblock %}
{% block content %}

<section class="hero is-info is-medium is-bold">
    <div class="hero-body overlay">
        <div class="container has-text-centered">
            <h1 class="title is-1">Really learn Python</h1>
            <h2 class="subtitle is-5 mt-6">
                If you want to learn Python in 2020, you've come to the right place!!
            </h2>
        </div>
    </div>
</section>


<div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-three-fifths is-offset-one-fifth">
            <!-- START ARTICLE -->
            {% for post in post_list %}
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            {% if "placeholder" in post.featured_image.url %}
                            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                class="author-image" alt="Placeholder image">
                            {% else %}
                            <img src="{{ post.featured_image.url }}" class="author-image" alt="">
                            {% endif %}
                            <a href="{% url 'post_detail' post.slug %}">
                                <h3 class="title article-title">{{ post.title}}</h3>
                            </a>
                            <div class="tags has-addons level-item">
                                <span class="tag is-rounded is-info">@{{ post.author }}</span>
                                <span class="tag is-rounded">{{ post.created_on }}</span>
                                <span class="tag has-text-weight-semibold is-rounded is-warning">{{ post.excerpt }}</span>
                            </div>
                            <span class="icon">
                                <i class="fas fa-heart has-text-danger"></i>
                                <span class="ml-3 has-text-weight-semibold">{{ post.number_of_likes }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            {% if "placeholder" in post.avatar.url %}
                            <figure class="image">
                                <a href="{% url 'post_detail' post.slug %}"><img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt=""></a>
                                {% else %}
                                <a href="{% url 'post_detail' post.slug %}"><img src="{{ post.avatar.url }}" alt=""></a>
                            </figure>
                            {% endif %}    
                        </div>
                    </div>
                    <div class="content article-body">
                        <a href="{% url 'post_detail' post.slug %}">
                            <p class="txt-right is-underline">Read More</p>
                        </a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
            <div class="card article">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- END ARTICLE -->
    </section>

    <!-- START PAGINATION -->
    {% if page_obj.has_other_pages %}
    <nav class="pagination is-centered is-rounded mb-6" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="pagination-link" disabled>&laquo;</a>
            </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
            {% if page_obj.number == page %}
            <li>
                <a class="pagination-link is-current">{{ page }}</a>
            </li>
            {% else %}
            <li>
                <a href="?page={{page}}" class="pagination-link">{{page}}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="pagination-link">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="pagination-link" disabled>&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <!-- END PAGINATION -->
</div>
<!-- END ARTICLE FEED -->

{% endblock %}