{% extends 'base.html' %}

{% block content %}

<section class="hero is-info is-medium is-bold">
    <div class="hero-body-2"></div>
</section>

<div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-center">
                            {% if "placeholder" in post.featured_image.url %}
                            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                class="author-image" alt="Placeholder image">
                            {% else %}
                            <img src="{{ post.featured_image.url }}" class="author-image" alt="">
                            {% endif %}
                        </div>
                        <div class="media-content has-text-centered">
                            <p class="title article-title">{{ post.title}}</p>
                            <div class="tags has-addons level-item">
                                <span class="tag is-rounded is-info">@{{ post.author }}</span>
                                <span class="tag is-rounded">{{ post.created_on }}</span>
                                <span class="tag is-rounded">{{ post.excerpt }}</span>
                            </div>
                            <span class="icon">
                                <i class="fas fa-heart has-text-danger"></i>
                                <span class="ml-1 has-text-weight-semibold">{{ post.number_of_likes }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="content article-body">
                        <div class="content">
                            <div class="block">
                                <p>{{ post.content | safe }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        {% with comments.count as total_comments %}
                        <span class="icon-text">
                            <span class="icon">
                                <i class="far fa-comments"></i>
                            </span>
                            <span>{{ total_comments }}</span>
                        </span>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% for comment in comments %}
    <article class="media ml-6 mr-6">
        <figure class="media-left">
            {% if "placeholder" in post.featured_image.url %}
            <p class="image is-64x64">
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
            </p>
            {% else %}
            <img src="{{ post.featured_image.url }}" class="author-image" alt="">
            {% endif %}
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ comment.name }}</strong>
                    <p class="subtitle is-6">@{{ comment.name }}</p>
                    <br>
                    {{ comment.body | linebreaks }}
                    <br>
                    <small><a>Like</a> · <a>Reply</a></small>
                </p>
            </div>
        </div>
    </article>
    {% endfor %}

    <article class="media ml-6 mr-6">
        <figure class="media-left">
            {% if "placeholder" in post.featured_image.url %}
            <p class="image is-64x64">
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
            </p>
            {% else %}
            <img src="{{ post.featured_image.url }}" class="author-image" alt="">
            {% endif %}
        </figure>
        <div class="media-content">
            <div class="field">
                <p class="control">
                    {% if user.is_authenticated %}
                    <textarea class="textarea is-medium is-info has-fixed-size"
                        placeholder="Add a comment..."></textarea>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-warning">Post comment</button>
                </p>
            </div>
                    {% else %}
            <div class="field">
                <p class="control">
                    <textarea class="textarea is-medium is-info has-fixed-size"
                    placeholder="Add a comment..." disabled></textarea>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-warning" disabled>Post comment</button>
                </p>
                {% endif %}
            </div>
        </div>
    </article>
</div>

{% endblock %}